@import "../../styles/colors.module.scss";
@import "../../styles/breakpoints.module.scss";

.logoWrapper {
  position: relative;
  height: 200px;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  @media screen and (max-width: $phone-L) {
    height: 160px;
  }
  img{
    object-fit: cover;
  }
}

.language {
  position: absolute;
  bottom: 2rem;
  right: 1rem;
  border-radius: 5px;
  padding: 5px;
  font-size: 1rem;
  border: none;
}
