@import "../../../styles/colors.module.scss";
@import "../../../styles/breakpoints.module.scss";

.card {
  max-width: 660px;
  margin-bottom: 2rem;

  .imgWrapper {
    position: relative;
    height: 200px;
    .image {
      border-radius: 1.2rem;
      width: 100%;
      object-fit: cover;
    }
  }

  .cardText {
    position: relative;
      .title {
        font-weight: 500;
        font-size: 1.2rem;
        margin-top: 0.7rem;
        margin-right: 3rem;
      }
      .description {
        color: $light-gray;
        font-size: 0.9rem;
        margin: 0.4rem 0;
      }
      .price {
        color: $orange;
        font-size: 1.5rem;
        font-weight: 500;
      }

      .weight {
        font-size: 0.8rem;
        position: absolute;
        right: 5px;
        color: $light-gray;
        top: 5px;
      }
    }
}


.overlay {
  background-color: rgba(0, 0, 0, 0.956);
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  .openImgWrapper {
    width: 100%;
    max-width: 900px;
    height: auto;
    padding: 1.2rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    .imageOverlay {
      position: static !important;
      width: 100%;
      height: auto;
      background-color: $black;
      object-fit: cover;

    }
  }
}
