@import "../../styles/colors.module.scss";

.bannerText {
  line-height: 2;
  width: 100%;
  margin-bottom: 1.5rem;
  .title{
    font-weight: 500;
  }
  .contactDetail {
    color: $light-gray;
    font-size: 14px;
    .icon{
      margin-right: 7px;
    }
  }

  .btn {
    background-color: $white;
    border: 3px solid $orange;
    margin: 1rem 0.7rem 0 0;
    border-radius: 1.2rem;
    padding: 5px 10px;
    color: $orange;
    font-weight: 700;
    cursor: pointer;
    font-size: 1rem;

    &:hover {
      color: $white;
      background-color: $orange;
    }
    &.active {
      border: 3px solid $orange;
      color: $white;
      background-color: $orange;
      margin: 1rem 0.7rem 0 0;
      border-radius: 1.2rem;
      padding: 5px 10px;
      font-weight: 700;
      cursor: pointer;
      font-size: 1rem;
    }
  }
}

